.row {
  max-width: 114rem;
  margin: 0 auto;
  @include clearfix;
  &:not(:last-child) {
    margin-bottom: $gutterheight;
  }
  @include bp(tablet-portrait) {
    max-width: 70rem;
    padding: 1rem;
  }
}

[class^="col-"] {
  float: left;
  &:not(:last-child) {
    margin-right: $gutterwidth;
    @include bp(tablet-portrait) {
      margin-right: 0;
    }
  }
  @include bp(tablet-portrait) {
    margin-top: 4rem;
    width: 100% !important;
  }
}

.col-1-of-2 {
  width: calc((100% - #{$gutterwidth}) / 2);
}
.col-1-of-3 {
  width: calc((100% - (2 * #{$gutterwidth})) / 3);
}
.col-2-of-3 {
  width: calc(2 * (100% - (2 * #{$gutterwidth})) / 3) + #{$gutterwidth};
}
.col-1-of-4 {
  width: calc((100% - (3 * #{$gutterwidth})) / 4);
}
.col-2-of-4 {
  width: calc(2 * (100% - (3 * #{$gutterwidth})) / 4) + #{$gutterwidth};
}
.col-3-of-4 {
  width: calc(3 * (100% - (3 * #{$gutterwidth})) / 4) + 2 * #{$gutterwidth};
}
