.navigation {
  color: black;
  &__icon {
    position: relative;
    margin-top: 3.35rem;
    &,
    &::before,
    &::after {
      height: 2px;
      width: 3rem;
      background-color: $light-grey;
      display: inline-block;
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }
  &__checkbox {
    display: none;
    &:checked ~ .navigation__background {
      transform: scale(80);
    }
    &:checked ~ .navigation__nav {
      width: 100%;
      opacity: 1;
    }

    &:checked + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(45deg);
    }
    &:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-45deg);
    }
    &:checked + .navigation__button .navigation__icon {
      background-color: transparent;
    }
  }
  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.7);
    text-align: center;
    &:hover .navigation__icon::before {
      top: -1rem;
    }
    &:hover .navigation__icon::after {
      top: 1rem;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      rgba(126, 213, 111, 1),
      rgba(40, 180, 133, 1)
    );
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    transition: all 0.6s cubic-bezier(1, -0.79, 0.01, 1.84);
  }
  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
  }
  &__lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
  }
  &__items {
    margin-bottom: 2rem;
  }
  &__links {
    &:link,
    &:visited {
      display: block;
      font-size: 3rem;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      padding: 1.5rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 220%;
      transition: all 0.6s;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: #7cce7c;
      transform: translateX(1rem);
    }
  }
}
